:root {
    --top-margin: 5px;
    --bg-color: #A8D1D1;
    --display-bg-color: #B7E4A3;
    --text-color: #7E80A9;
    --display-red: #FD8A8A;
    --text-green: #587D4A;
}

/*
    Color scheme winner?
    #FD8A8A
    #F1F7B5
    #A8D1D1
    #9EA1D4
    #7E80A9
    #364430
    #B7E4A3
*/

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    background-color: var(--bg-color);
    margin-top: calc(var(--top-margin) * 3);
    max-height: 100vh;
    max-width: 100vw;
}

h1 {
    margin-top: var(--top-margin);
    text-align: center;
    color: var(--text-color);
}

h3 {
    text-align: center;
    color: var(--text-green);
}

main {
    margin-top: var(--top-margin);
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    text-align: center;
}
#selection-area {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-top: var(--top-margin);
    padding: 5px;
    background-color: var(--display-red);
}

option {
    text-align: center;
}

#category-header {
    /* border: 1px solid green; */
    height: 20px;
    text-align: center;
    margin-top: var(--top-margin);
}

#display-area {
    /* border: 1px solid; */
    /* box-shadow: 0 0 5px var(--display-red); */
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--display-bg-color);
}

.product-displays {
    /* border: 1px solid red; */
}

.product-displays > * {
    margin-top: calc(var(--top-margin));
}

.product-images {
    max-width: 75%;
    max-height: 35%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#product-description, #product-disclaimer  {
    /* border: 1px solid; */
    max-width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: calc(var(--top-margin));
    padding: 2.5px;
    text-align: center;
}
#product-description {
    color: var(--text-green)
}
#product-disclaimer {
    color: var(--text-color);
}
#button-area {
    display: flex;
    flex-direction: row;
    /* border: 1px dotted; */
    margin-top: 5px;
    justify-content: space-evenly;
}
.buttons {
    height: 20px;
    width: 75px;
    margin-top: var(--top-margin);
    text-align: center;
    background-color: var(--display-red);
    border: 2px solid var(--text-color);
    /* color: var(--display-bg-color); */
}

.buttons:active {
    transform: scale(.9);
}

footer {
    margin-top: var(--top-margin);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color)    ;
}

@media screen and (max-width: 450px) {
    #display-area {
        width: 75vw;
        /* max-height: 55vh; */
    }
    #product-description, #product-disclaimer {
        padding: 5px;
    }
}